@model Health_Insurance.Models.Useraccount

@{
    ViewData["Title"] = "Details";
    Layout = "AdminLayout";
}


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <div class="table-responsive">
<h1>Details</h1>

<div>
    <h4>Useraccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
      @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passwd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passwd)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
      @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roles)
        </dt> *@
@*         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roles.Id)
        </dd> *@
    </dl>
</div>
<div>
@*     <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
 *@    <a asp-action="Index">Back to List</a>
</div>
 </div>
                        </div>
                    </div>
                </div>
            </div>